body{
  font-family:'Work Sans', sans-serif;
  background-size:cover
}

.bg-dark{
  background-color:rgb(20, 36, 56) !important
}

.bg-darker{
  background-color:rgb(13, 23, 36)
}

.bg-lighter{
  background-color:rgb(28, 52, 83)
}
a {
  color:#fff
}
a:hover {
  color:rgb(83, 201, 255)
}
.btn-primary{
  background-color: #4b83cc;
  border-color: #4b83cc;
}